<div class="pokemon-card">
  <span class="pokemon-card-name"><%= pokemon.name %></span>
  <span class="pokemon-card-type"><%= pokemon.type_one %></span>
  <span class="pokemon-card-hp"><%= pokemon.hp %></span>
  <%= image_tag pokemon.image_path, class: "pokemon-card-image" %>
</div>