<div class="jumbotron">
  <h1 class="display-4">Prepare to Battle!</h1>
  <p class="lead">To start a new game, enter a name in the box and press "Start".</p>
  <p class="lead">
  	<input type="text"/>
    <a class="btn btn-primary btn-lg" href="#" role="button">Start</a>
  </p>
</div>