<div class="jumbotron">
  <h1 class="display-4">
    Player <span id="player-number">1</span>, choose your Pokemon!
  </h1>
</div>
<table>
  <tr>
    <% idx = 0 %>
    <% @pokemon.each do |p| %>
      <td>
        <%= render partial: "pokemon_card", locals: { pokemon: p } %>
      </td>
      <% idx += 1 %>
      <% if idx % 3 == 0 %>
        </tr><tr>
      <% end %>
    <% end %>
  </tr>
</table>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" id="show-modal-btn"
  data-toggle="modal" data-target="#exampleModal" style="display: none;">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          <span id="choose-modal-title"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id="choose-modal-body">
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal"
          id="choose-modal-continue-btn">
          Continue
        </button>
      </div>
    </div>
  </div>
</div>

<script>
  window.playerNumber = 1;

  function setPlayerState(playerNumber) {
    window.playerNumber = playerNumber;
    $("#player-number").html("" + playerNumber);
  }

  function choose(pokemonID) {
    console.log("Player " + playerNumber + " chooses " + pokemonID);
    $.ajax({
      url: "<%= choose_game_path(@game) %>?" +
        "pokemon_base_id=" + pokemonID +
        "&player_number=" + playerNumber,
      type: "GET",
      error: function(xhr, status) {
        alert("Error: " + status);
      },
      success: function() {
        console.log("Success");
      },
    });
  }

  function showChooseMessage(playerName, pokemonName) {
    $("#choose-modal-title").html(playerName + " chose " + pokemonName + "!");
  }

  $(function() {
    setPlayerState(
      <%= @game.player_one.pokemon_cards.count < Game.DECK_SIZE ? '1' : '2' %>);
  });
</script>