// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pokemon-card {
  margin: 20px 20px 20px 20px;
  display: inline;
}
.pokemon-card-name {
  
}
.pokemon-card-type {
  
}
.pokemon-card-hp {
  float: right;
}
.pokemon-card-image {
  margin: 20px 20px 20px 0px;
}
.pokemon-choose-button:visited {
  color: white;
}