// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.pokemon-card {
  width: 300px;
  background: #77b;
  padding: 20px;
}
.pokemon-card-name {
  
}
.pokemon-card-type {
  
}
.pokemon-card-hp {
  position: relative;
  right: 0px;
}
.pokemon-card-image {
  width: 280px;
  height: auto;
}